@import '~antd/dist/antd.css';

html { font-size: calc(1em + 1vw); 
        scroll-behavior: smooth}

body {
  font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  justify-items: center;
}

.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-image{

  width: 100%;
  max-width: 40vh;
  height: auto;
  padding-top: 30%;
}

.logo-image-tab{

  width: 100%;
  max-width: 7vh;
  height: auto;
  
}

.et-hero-tabs {
  
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.et-slide{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.et-slide-about{

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 75vh;
  position: relative;
  background: black;
  text-align: center;
  padding: 0 2em;
  
  
}

.et-slide-repertoire{

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 75vh;
  position: relative;
  background: black;
  text-align: center;
  padding: 0 2em;
  overflow:hidden ;
  
  
}

.et-slide-upcoming{

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 20vh;
  max-height: 75vh;
  width: 100%;
  position: relative;
  background-color: red;
  background-size: cover;
  background-position-y: center;
  text-align: center;
  padding: 0 2em;
  padding-bottom: 20%;
  
}

.title-holder{
  width: 100%;
  height: 100%;
  text-align: left;
  color: white;


}

.content-holder{
  display: grid;
  width: 80%;
  margin: 0 auto;
  background-color: black;
}

.premiere{
  color: white;
  font-size: 2vw;
}

.after{
  padding-top: 5.8vw;
  padding-left: 5vw;
  color: white;
  font-weight: bold;
  font-size: 7vw;
  letter-spacing: 10;
}

.et-main{
  background-color: black;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: black;
  z-index: 10;
  
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.5rem;
 
}

.et-hero-tab-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.5rem;
 
}

.et-hero-tab-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
 
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: maroon;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
.et-hero-tabs,
.et-slide {
 
}
}

.gutter-row{
  width: 100%;
  height: 100%;
}

.holder{
  width: 100%;
  height: 100%
}

.grace{
  background-image: url(./headshots/grace.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
}

.grace:after{
  content: "Grace Conheady - '21 | President";
  align-content: left;
  font-size: 18px;
  color: white;
  position: absolute;
  width: 100%; height:20%;
  bottom:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.grace:hover:after {
  opacity: 1;
}

.grace:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}

.member{
  background-color: white;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.member:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}

.grace:hover .overlay {
  opacity: 1;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.erin{
  background-image: url(./headshots/erin.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.erin:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}

.ben{
  background-color: red;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.ben:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}

.sydney{
  background-color: red;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.sydney:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}
.zoe{
  background-image: url(./headshots/zoe.jpeg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.zoe:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}

.steven{
  background-image: url(./headshots/steven.jpeg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.steven:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
  
}

.emma{
  background-image: url(./headshots/emma.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.emma:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}
.franklin{
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.jack{
  background-image: url(./headshots/jack.jpeg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.jack:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}

.ashwin{
  background-image: url(./headshots/ashwin.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.ashwin:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}

.luke{
  background-image: url(./headshots/luke.jpeg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.luke:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 *100%);
}

.blank{
  background-color: black;
}
mark{
  background-color: #8C2F39;
  color: white;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: black;
}


.Title {
  text-align: center;
  font-size: calc(30px + 2vmin);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  height: 25%;
  width: 100%;
  font-size: 4px;
}

.logo {
  text-align: center;
  letter-spacing: 10px;
  font-size: calc(50px + 2vmin);
  font-weight: bold;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 50px;
}

.Title-text {
  text-align: center;
  color: white;
  font-size: calc(4px + 2vmin);
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.slideshow {
  background-color: black;
  min-height: 50vh;
  width: 100%;
  font-size: calc(20px + 2vmin);
  color: black;
  justify-items: center;
}

.members {
  background-color: white;
  min-height: 150vh;
  width: 100%;
  font-size: calc(20px + 2vmin);
  color: white;
}



.album-cover{
  background-color: black;
  height: 100%;
  width: 100%;
}

.album-cover:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 * 100%);
}

.album-heading{
  font-weight: bold;
  color: white;
  padding-top: 5%;

}

.album-text{
  color: white;
  vertical-align: text-top;
}

.juice-info{
  text-align: left;
  width: 100%;
  height: 25%;
  background-color: black;
}

.juice{
  height: 62.5%;
  width: 100%;
  background-color: white;
  background-size: contain;
}

.bellyache{
  height: 62.5%;
  width: 100%;
  background-color: white;  
  background-size: contain;
}

.treasure{
  height: 62.5%;
  width: 100%;
  background-color: white;
  background-size: contain;
}

.more{
  height: 62.5%;
  width: 100%;
  background-color: white; 
  background-size: contain;
  
}

.acid{
  height: 62.5%;
  width: 100%;
  background-color: white;
  background-size: contain;
}

.bestpart{
  height: 62.5%;
  width: 100%;
  background-color: white;  
  background-size: contain;
}

.cough{
  height: 62.5%;
  width: 100%;
  background-color: white; 
  background-size: contain;
}

.brooklyn{
  height: 62.5%;
  width: 100%;
  background-color: white;
  background-size: contain;
}

.soclose{
  height: 62.5%;
  width: 100%;
  background-color: white; 
  background-size: contain;
}

.dance{
  height: 62.5%;
  width: 100%;
  background-color: white;  
  background-size: contain;
}

.info-holder{
  background-color: yellow;
  height: 100%;
  width: 100%;
  background-size: cover;

}

.info-holder:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(3/3 *100%);
}

.japan{
  height: 75%;
  width: 100%;
  background-image: url(./albumcovers/lostinjapan.jpg);
  background-size: cover;
  position: top;
}

.heart{
  height: 62.5%;
  width: 100%;
  background-color: white;  
  background-size: contain;
}
.about-text{
  color: white;
  width: 80%;
  padding-bottom: 20%;
}

.about-heading-text{
  padding-top: 1.5%;
  font-size: 5vh;
  color: white;
  width: 80% ;
  font-weight: bold;   
  
}

.About-us {
  background-color: #FED0BB;
  width: 100%;
  min-height: 70vh;
  font-size: calc(35px + 2vmin);
  color: white;
  text-align: left;
}

.Connect {
  background-color: #2B2D42;
  min-height: 70vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
