@import '~antd/dist/antd.css';

html { font-size: calc(1em + 1vw); 
        scroll-behavior: smooth}

body {
  font-family: Helvetica, Arial, sans-serif;;
}

a {
text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  justify-items: center;
}

.musicgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 40px;
  height: 100%;
  width: 100%;
  padding-top: 15vh;
  justify-items: center;
}

.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-image{

  width: 100%;
  max-width: 40vh;
  height: auto;
  padding-top: 30%;
}

.logo-image-tab{

  width: 100%;
  max-width: 7vh;
  height: auto;
}

nav a:hover 
{ color: rgba(255, 255, 255, 1) !important; }

.et-hero-tabs {
  
  background-image: url(./imagesmisc/banner.JPG);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.et-slide{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.et-slide-about{

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 75vh;
  position: relative;
  background: black;
  text-align: center;
  padding: 0 2em;
  
}

.et-slide-repertoire{

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 75vh;
  position: relative;
  background: black;
  text-align: center;
  padding: 0 2em;
  overflow: hidden ;
}

.et-slide-upcoming{
  min-height: 70vh;
  max-height: 100vh;
  position: relative;
  background-color:black;
  background-position: center;
  text-align: center;
  padding-top: 10vh;
}

.upcoming-holder{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(./imagesmisc/upcoming.JPG);
  background-size: cover;
  background-position: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title-holder{
  width: 100%;
  height: 100%;
}

.content-holder{
  display: grid;
  width: 80%;
  margin: 0 auto;
  background-color: black;
}

.premiere{
  color: white;
  font-size: 2vw;
}

.after{
  padding-top: 5.8vw;
  padding-left: 5vw;
  color: white;
  font-weight: bold;
  font-size: 7vw;
  letter-spacing: 10;
}

.et-main{
  background-color: black;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: transparent;
  z-index: 10;
}

nav a.active{
  font-weight: bold;
  background-color: yellow;
}
nav a:link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.5rem;
  color: rgba(255, 255, 255, .8);
}

nav a:visited {
  color: rgba(255, 255, 255, .3);
  background-color: maroon; 
}

.et-hero-tabs-container.scrolled {
  background-color: black !important;
  transition: 200ms linear;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: rgba(255, 255, 255, .4);
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.5rem;
}


.et-hero-tab-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.5rem;
 
}

.et-hero-tab-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: maroon;
  transition: left 0.3s ease;
}

.gutter-row{
  width: 100%;
  height: 100%;
}

.holder{
  width: 100%;
  height: 100%
}

.blank{
  background-color: black;
}
mark{
  background-color: #8C2F39;
  color: white;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: black;
}


.Title {
  text-align: center;
  font-size: calc(30px + 2vmin);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  height: 25%;
  width: 100%;
  font-size: 4px;
}

.logo {
  text-align: center;
  letter-spacing: 10px;
  font-size: calc(50px + 2vmin);
  font-weight: bold;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 50px;
}

.Title-text {
  text-align: center;
  color: white;
  font-size: calc(4px + 2vmin);
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.slideshow {
  background-color: black;
  min-height: 50vh;
  width: 100%;
  font-size: calc(20px + 2vmin);
  color: black;
  justify-items: center;
  padding-top: 10vh;
  text-align: center;
}

.album-cover{
  background-color: black;
  height: 100%;
  width: 100%;
}

.album-cover:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(4/3 * 100%);
}

.album-heading{
  font-weight: bold;
  color: white;
  padding-top: 5%;

}

.album-text{
  color: white;
  vertical-align: text-top;
}

.about-text{
  color: white;
  width: 80%;
  padding-bottom: 20%;
}

.about-heading-text{
  padding-top: 1.5%;
  font-size: 5vh;
  color: white;
  width: 100% ;
  font-weight: bold;   
  
}
