@import '~antd/dist/antd.css';

.grace{
    background-image: url(./headshots/grace.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
  }
  
  .grace:after{
    content: "Grace Conheady - '21 | President";
    align-content: center;
    text-align: left;
    font-size: 15px;
    color: white;
    position: absolute;
    width: 100%; height:20%;
    bottom:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
  }
  
  .grace:hover:after {
    opacity: 1;
  }
  
  .grace:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .member{
    background-color: white;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .member:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .grace:hover .overlay {
    opacity: 1;
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .erin{
    background-image: url(./headshots/erin.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .erin:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .ben{
    background-color: red;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .ben:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .sydney{
    background-color: red;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .sydney:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  .zoe{
    background-image: url(./headshots/zoe.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .zoe:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .steven{
    background-image: url(./headshots/steven.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .steven:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
    
  }
  
  .emma{
    background-image: url(./headshots/emma.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .emma:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  .franklin{
    background-color: white;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  
  .jack{
    background-image: url(./headshots/jack.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .jack:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .ashwin{
    background-image: url(./headshots/ashwin.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .ashwin:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .luke{
    background-image: url(./headshots/luke.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .luke:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }